[![Policy Update: Enabling 2-Step Verification](https://i.ytimg.com/vi/wqj8JjfQwRU/maxresdefault.jpg)](https://www.youtube.com/watch?v=wqj8JjfQwRU)

## Policy Update: Enabling 2-Step Verification

Hello Insiders! Today we're back with an announcement regarding a policy change for 2-step verification going into effect later this year.



Check it out and leave us your comments and questions below!



Chapters:

0:00 Intro

0:16 2-Step Verification Policy Update

1:04 What is 2-Step Verification?

2:05 Account Safety Best Practices



Links:

How 2-Step Verification Works- https://www.google.com/intl/en/landing/2step/#tab=how-it-works

Five things you can do right now to stay safer online- https://www.blog.google/technology/safety-security/five-things-you-can-do-right-now-to-stay-safer-online/

Avoid and report phishing emails- https://support.google.com/mail/answer/8253?hl=en

-------------------------------------------



🔍 MORE GREAT RESOURCES FOR CREATORS 🔎



Want to be considered to help us build a better YouTube please sign up here: 

https://www.youtube.com/creatorresearch/?referral_code=CreatorInsider



Creator Insider Japan https://www.youtube.com/channel/UC8Y7Mqtw56UOzYd5MYDtiyQ/



We have 2 official YouTube channels that will also be helpful. Check them out! 



➡ YouTube Creators: https://www.youtube.com/user/creatoracademy



➡ TeamYouTube: https://www.youtube.com/user/YouTubeHelp



-------------------------------------------



👕👚SWAG 🎽☕



Check out our merch here: https://teespring.com/stores/creatorinsider



100% of the proceeds automatically support Red Cross



-------------------------------------------

Please note CI does not provide support - to find the appropriate resource for your question, please check out our Resources video: https://www.youtube.com/watch?v=sGm8dCs70bw



Remember, by commenting here or submitting Unlisted video links to email aliases associated with the channel, your comments, videos and username may be used in an upcoming video.



Creator Insider is an informal YouTube channel to share information from the YouTube Creator technical team with the wider Creator community. We will feature different people talking about the products they work on and changes we are making so you have more context. Please note this is not an official YouTube channel and is an experiment.



#### [0:00:00](https://www.youtube.com/watch?v=wqj8JjfQwRU&t=0) |  (logo whooshes) - Hello insiders, my name

is Hamzah and I work on Account Safety at YouTube. We've talked about best practices to keeping your channels safe in the past. But today, I'm here to talk about a new requirement for all channels in and requesting to join the YouTube Partner Program. As of November 1st, our policy on 2-step verification is changing. This means that all creators in the YouTube Partner Program are required to turn on 2-step verification. If you do not turn on 2-step verification by November 1st, you will lose access to YouTube Studio  

![](https://i.ytimg.com/vi/wqj8JjfQwRU/maxres1.jpg)



#### [0:00:30](https://www.youtube.com/watch?v=wqj8JjfQwRU&t=30) |  on your monetizing channel until it's turned

on. This will not affect your channel's monetization. So why are we doing this? We want to keep your account safe and 2-step verification is one of YouTube's strongest defenses against account hijacking, hacking, and compromise. And an additional benefit of the change, verifies that it's you before making any major changes to your account, like changing passwords or granting access permissions. So you're preventing a hacker from changing your videos, taking your earnings, or sending harmful content to your audience.  

#### [0:01:00](https://www.youtube.com/watch?v=wqj8JjfQwRU&t=60) |  And remember, 2-step verification is already a

requirement to making sensitive changes to your account. Now if you've forgotten what 2-step verification is, it's a tool that helps keep bad actors out, even if they get your login information by using a secondary form of verification, like a cell phone or a security key. Once enabled, each time you sign into your Google account, you'll need your password and that second form of verification to sign in. So how can you enable 2-step verification? So from your Google account page, click on Get Started and follow the steps, to add this extra layer of security  

![](https://i.ytimg.com/vi/wqj8JjfQwRU/maxres2.jpg)



#### [0:01:30](https://www.youtube.com/watch?v=wqj8JjfQwRU&t=90) |  for your YouTube channel. You'll also receive

notifications directly in YouTube Studio to prompt you to get started. Now, if you have multiple Google accounts, make sure you enable 2-step verification for the Google account associated with your YouTube channel. Once you enable 2-step verification, signing into your Google account will work a little differently. Whenever you sign into Google, you'll enter your password as usual and then next, a code will be sent to your phone via text, phone call or our mobile app. Or if you have a security key, you can insert it into your computer's USB port.  

![](https://i.ytimg.com/vi/wqj8JjfQwRU/maxres3.jpg)



#### [0:02:00](https://www.youtube.com/watch?v=wqj8JjfQwRU&t=120) |  If you have any questions about this

change, please feel free to leave them in the comments below and I'll try to answer as many as possible. But while I'm here, I wanted to go over a few other best practices to keeping your account safe. First, check your channel level permissions under settings of your dashboard and verify that they're correct. This is super important because it determines who has access to your YouTube channel. Second, create a strong password and do not share it. A secure password, one that includes a mixture of upper and lower case letters, numbers, and symbols and updated recovery information helps protect your Google account.  

#### [0:02:30](https://www.youtube.com/watch?v=wqj8JjfQwRU&t=150) |  We recommend that you do not share

this password with anybody. Third, avoid and report phishing and malware scams. Phishing is an attempt to trick you into revealing critical personal information, like a password or to download files or software on your computer or mobile device that's meant to harm that device. Knowing what to look for, means you can get ahead of potential scams like these, and remember to always report phishing emails by following the instructions I'll link in the description below. We'll also leave additional resources in the description below, like 5 things you can do today to help protect your Google account and how 2-step verification works.  

#### [0:03:00](https://www.youtube.com/watch?v=wqj8JjfQwRU&t=180) |  Thank you so much.  

